<table>
    <thead>
        <th>아이디</th>
    </thead>
    <tbody>
        <% @users.each do |user| %>
        <tr>
            <td><%=user[0]%></td>
        </tr>
        <%end%>
    </tbody>
    
    
</table>